html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

h2 {
  position: absolute;
  left: 50%;
  text-align: center;
  z-index: 1;
  transform: translateX(-50%);
  margin: 20px auto;
}

body {
  display: flex;
  flex-direction: row;
}

#modeler {
  position: relative;
  flex-grow: 1;
}

.bjs-powered-by {
  display: none;
}

#viewer {
  position: relative;
  flex-grow: 1;
  margin: 4px 4px 4px 0;
  background: hsl(225, 10%, 97%);
  border: solid 1px hsl(225, 10%, 75%);
  border-radius: 4px;

  .bjs-breadcrumbs {
    top: 20px;
    left: 20px;
  }
}

.links {
  position: absolute;
  z-index: 1;
  font-size: 12px;

  button + button {
    margin-left: 8px;
  }
}

.bottom-links {
  bottom: 20px;
}

.bottom-links-modeler {
  left: 20px;
}

.bottom-links-viewer {
  right: 20px;
}

.top-links {
  top: 20px;
  right: 20px;
}

button.link,
a.link {
  color: #212121;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #EFEFEF;
  text-decoration: none;
  border: none;
}

button.link:hover,
a.link:hover {
  color: #FFFFFF;
  background-color: #10D070;
}

/** file-drops */

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 50px;

  background: rgba(255, 255, 255, .9);

  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  height: 100%;
  width: 100%;
  display: table;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;

  display: table-cell;
  vertical-align: middle;
}