html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

#modeler {
  position: relative;
  flex-grow: 1;
}

.bjs-powered-by {
  display: none;
}

#viewer {
  position: relative;
  flex-grow: 1;
  margin: 4px 4px 4px 0;
  background: hsl(225, 10%, 97%);
  border: solid 1px hsl(225, 10%, 75%);
  border-radius: 4px;

  .bjs-breadcrumbs {
    top: 20px;
    left: 20px;
  }
}

.buttons {
  position: absolute;
  bottom: 20px;
  font-size: 12px;

  button:not(:last-child) {
    margin-right: 4px;
  }
}

.buttons-modeler {
  left: 20px;
}

.buttons-viewer {
  right: 20px;
}


/** file-drops */

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 50px;

  background: rgba(255, 255, 255, .9);

  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  height: 100%;
  width: 100%;
  display: table;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;

  display: table-cell;
  vertical-align: middle;
}