
name: CI
on: [ push, pull_request ]
jobs:
  Build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: 16

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run all